Project/Data/Preprocessed/fasttext_embeddings.model.wv.vectors_ngrams.npy filter=lfs diff=lfs merge=lfs -text
Project/Part[[:space:]]2/Data/Embeddings/fasttext_model.wv.vectors_ngrams.npy filter=lfs diff=lfs merge=lfs -text
